# <div align="center">YOLO Parking Spot  üöóüÖøÔ∏è</div>
<hr>

### In this notebook, you can assess the performance of the models in prediction and determine if they achieved satisfactory results:

In [1]:
import sys
import os
sys.path.append('../')

from utils.functions import process_images

# get current working directory
repo_path = os.path.dirname(os.getcwd())

## The following result

In [2]:
# Specify the folder path containing the images and annotations
data_path = os.path.join(repo_path, 'data')

# Specify the output folder path
output_folder = os.path.join(repo_path, 'results/without_yolo/')

# process_images returns a dataframe containing the results
results = process_images(data_path, output_folder, highlighted_cars=True)
results.head(20) # Show the results for the first 20 images

Processing images...
Processed 23 images ‚úÖ

,Image File,Disabled parking spots count,Parking spots count,Cars count,Empty disabled parking spots count,Occupied disabled parking spots count,Empty parking spots count,Occupied parking spots count,Cars in transit or parked in non-parking spots
0,empty_set1_60m_1.jpg,20,70,1,20,0,69,1,0
1,empty_set1_60m_2.jpg,20,70,1,20,0,69,1,0
2,empty_set1_65m_1.jpg,22,77,0,22,0,77,0,0
3,empty_set1_70m_2.jpg,22,77,1,22,0,76,1,0
4,empty_set1_75m_1.jpg,22,77,0,22,0,77,0,0
5,empty_set2_30m_2.jpg,0,32,0,0,0,32,0,0
6,empty_set2_30m_3.jpg,0,40,0,0,0,40,0,0
7,empty_set2_70m_1.jpg,2,147,0,2,0,147,0,0
8,empty_set2_70m_2.jpg,4,145,0,4,0,145,0,0
9,occupied_set1_30m_1.jpg,8,16,14,8,0,2,14,0
10,occupied_set1_30m_2.jpg,8,16,15,8,0,2,14,1
11,occupied_set1_40m_1.jpg,7,49,43,7,0,6,43,0
12,occupied_set1_50m_1.jpg,16,56,50,16,0,8,48,2
13,occupied_set1_50m_2.jpg,16,56,50,16,0,8,48,2
14,occupied_set1_60m_1.jpg,20,70,59,20,0,11,59,0
15,occupied_set1_70m_1.jpg,22,77,66,22,0,13,64,2
16,occupied_set1_70m_2.jpg,22,77,66,22,0,13,64,2
17,occupied_set2_30m_1.jpg,0,44,16,0,0,28,16,0
18,occupied_set2_30m_2.jpg,0,44,16,0,0,28,16,0
19,occupied_set2_40m_1.jpg,0,80,19,0,0,61,19,0

## Let's see how our trained YOLOv5 model

In [7]:
# Specify the model name
model = 'my_yolov5n'

# Specify the output folder path
output_folder = f'{repo_path}/results/{model}/'

# process_images returns a dataframe containing the results
results = process_images(data_path, output_folder, highlighted_cars=True, model=model)
results.head(20) # Show the results for the first 20 images

Using labels from c:\Users\mathe\Documents\Projects\YOLO-Parking-Spot\results/my_yolov5n/labels/
Processing images...
Processed 23 images ‚úÖ

,Image File,Disabled parking spots count,Parking spots count,Cars count,Empty disabled parking spots count,Occupied disabled parking spots count,Empty parking spots count,Occupied parking spots count,Cars in transit or parked in non-parking spots
0,empty_set1_60m_1.jpg,20,70,1,20,0,69,1,0
1,empty_set1_60m_2.jpg,20,70,1,20,0,69,1,0
2,empty_set1_65m_1.jpg,22,77,0,22,0,77,0,0
3,empty_set1_70m_2.jpg,22,77,1,22,0,76,1,0
4,empty_set1_75m_1.jpg,22,77,0,22,0,77,0,0
5,empty_set2_30m_2.jpg,0,32,0,0,0,32,0,0
6,empty_set2_30m_3.jpg,0,40,0,0,0,40,0,0
7,empty_set2_70m_1.jpg,2,147,0,2,0,147,0,0
8,empty_set2_70m_2.jpg,4,145,0,4,0,145,0,0
9,occupied_set1_30m_1.jpg,8,16,16,8,0,2,14,2
10,occupied_set1_30m_2.jpg,8,16,16,8,0,2,14,2
11,occupied_set1_40m_1.jpg,7,49,44,7,0,6,43,1
12,occupied_set1_50m_1.jpg,16,56,51,16,0,8,48,3
13,occupied_set1_50m_2.jpg,16,56,51,16,0,8,48,3
14,occupied_set1_60m_1.jpg,20,70,63,20,0,11,59,4
15,occupied_set1_70m_1.jpg,22,77,70,22,0,13,64,6
16,occupied_set1_70m_2.jpg,22,77,68,22,0,13,64,4
17,occupied_set2_30m_1.jpg,0,44,14,0,0,31,13,1
18,occupied_set2_30m_2.jpg,0,44,14,0,0,30,14,0
19,occupied_set2_40m_1.jpg,0,80,19,0,0,61,19,0

## Trained YOLOv8 model

In [6]:
# Specify the model name
model = 'my_yolov8n'

# Specify the output folder path
output_folder = f'{repo_path}/results/{model}/'

# process_images returns a dataframe containing the results
results = process_images(data_path, output_folder, highlighted_cars=True, model=model)
results.head(20) # Show the results for the first 20 images

Using labels from c:\Users\mathe\Documents\Projects\YOLO-Parking-Spot\results/my_yolov8n/labels/
Processing images...
Processed 23 images ‚úÖ

,Image File,Disabled parking spots count,Parking spots count,Cars count,Empty disabled parking spots count,Occupied disabled parking spots count,Empty parking spots count,Occupied parking spots count,Cars in transit or parked in non-parking spots
0,empty_set1_60m_1.jpg,20,70,1,20,0,69,1,0
1,empty_set1_60m_2.jpg,20,70,1,20,0,69,1,0
2,empty_set1_65m_1.jpg,22,77,0,22,0,77,0,0
3,empty_set1_70m_2.jpg,22,77,1,22,0,76,1,0
4,empty_set1_75m_1.jpg,22,77,0,22,0,77,0,0
5,empty_set2_30m_2.jpg,0,32,0,0,0,32,0,0
6,empty_set2_30m_3.jpg,0,40,0,0,0,40,0,0
7,empty_set2_70m_1.jpg,2,147,0,2,0,147,0,0
8,empty_set2_70m_2.jpg,4,145,0,4,0,145,0,0
9,occupied_set1_30m_1.jpg,8,16,15,8,0,2,14,1
10,occupied_set1_30m_2.jpg,8,16,16,8,0,2,14,2
11,occupied_set1_40m_1.jpg,7,49,43,7,0,10,39,4
12,occupied_set1_50m_1.jpg,16,56,53,16,0,8,48,5
13,occupied_set1_50m_2.jpg,16,56,52,16,0,9,47,5
14,occupied_set1_60m_1.jpg,20,70,59,20,0,11,59,0
15,occupied_set1_70m_1.jpg,22,77,65,22,0,13,64,1
16,occupied_set1_70m_2.jpg,22,77,65,22,0,13,64,1
17,occupied_set2_30m_1.jpg,0,44,16,0,0,28,16,0
18,occupied_set2_30m_2.jpg,0,44,16,0,0,28,16,0
19,occupied_set2_40m_1.jpg,0,80,19,0,0,61,19,0

### If you want to train a model from scratch, go to [yolov5.ipynb](yolov5.ipynb) or [yolov8.ipynb](yolov8.ipynb) notebooks ‚ú®üöÄ

To use your **trained model**, specify the model path!<br>
Example:
```python
# Specify the model path
model_path = f'{repo_path}models/yolov5n/runs/exp/weights/best.pt'

model = model_path.split('/')[-5] # Get the model /\ name, yolov5n

# Specify the output folder path
output_folder = f'{repo_path}/results/{model}/'

# process_images returns a dataframe containing the results
results = process_images(data_path, output_folder, highlighted_cars=True, model=model_path)
results.head(20) # # Show the results for the first 20 images
```